.App {
  text-align: center;
}
html, body {
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header-top {
  display: flex;
  align-self: center;
  justify-self: center;
  
}
.btn-sub {
  align-self: center;
  justify-self: center;
}
form {
  display: flex;
  padding: 4px;
}
.cnt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: bisque;
  height: 100vh;
}
footer {
  position: fixed;
  bottom: 5px; 
}
.entries {
  display: flex;
  flex-direction: column;
  font-size: larger;
  color: white;
 
}
.guest-cnt {
  background-color: rgb(175, 121, 22);
  border-radius: 5px;
  border: solid 2px black;
  min-height: 15%;
}
.guest-msg {
  color: black;
  min-height: 50px;
  text-align: center;
  font-size: larger;
  
}
.logout-button {
  border-radius: 5px;
  border: solid black 2px;
  background-color: white;
  cursor: pointer;
  padding: 5px;
}
.legend-log {
  border: dashed black 2px;
  background-color: white;
  padding: 6px;
  font-size: 3rem;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.header-app {
  position: fixed;
  top: 0;
  min-height: 160px;
  max-height: fit-content;
  background-color: rgb(164, 233, 233);
  width: 100vw;
  text-align: center;
  font-size: 250%;
  text-decoration: underline;
  border: dotted 2px black;
}
.guest-book {
  margin-top: 15%;
}